* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

::-webkit-input-placeholder {
    color: #43a5cf;
}

body {
    background: #081b29;
    display: grid;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.title {
    position: relative;
    font-size: 5vi;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #fff;
}

.descripcion-label {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    margin-bottom: 0px;
    padding: 10%;
    font-size: 2vw;
    color: #0ef;
}

.submit {
    border: none;
    outline: none;
    width: 25%;
    height: 35%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 10px 0;
    font-size: 2vw;
    border-radius: 70px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(45deg, #0ef, #c800ff);
}



.link {
    color: #0ef;
    text-decoration: none;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}


button:hover {
    background-color: #00c4e0;
}

.box {
    padding: 1%;
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
    background: #081b29;
    color: #ffffff; 
    width: 80%; 
    position: relative;
    display:    inline-block; 
    justify-content: center;
    text-align: center; 
    align-items: center;
    border: 3px solid #00ffff;
    box-shadow: 0 0 50px 0 #00a6bc;
  }


.box img {
    width: 100%; 
    height: 100%; 
    margin-bottom: 5px; 
}
.box p {
    flex: 1; 
    margin: 0; 
    text-align: left;
    font-size: 3dvb;
    
  }
  .box2 {
    padding: 10px auto;
    margin: 10px auto;
    background: #081b29;
    color: #ffffff; 
    width: 60%; 
    position: center;
    display:    flex; 
    justify-content: center;
    text-align: center; 
    align-items: center;
    border: 3px solid #00ffff;
    box-shadow: 0 0 50px 0 #00a6bc;
  }

.cajaInfo {
    padding: 10px;
    margin: 10px auto;
    background: #081b29;
    color: #ffffff; 
    width: 80%; 
    display: grid; 
    justify-content: center;
    text-align: center; 
    align-items: center;
    gap: 10px; 
    border: 3px solid #00ffff;
    box-shadow: 0 0 50px 0 #00a6bc;
}

.cajaInfo img {
    width: 250px; 
    height: 250px; 
    margin-bottom: 5px; 
    justify-self: center; 
}

.cajaInfo p {
    margin: 0; 
}

.box3 {
    padding: 1%;
    margin: 1%;
    background: #081b29;
    color: #ffffff; 
    width: 40%; 
    height: 30%;
    position: center;
    display: inline-block;
    justify-content: center;
    text-align: center; 
    align-items: center;
    border: 3px solid #00ffff;
    box-shadow: 0 0 50px 0 #00a6bc;
  }
