*{
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #fff;
}


body{
    background: #081b29;
    display: grid;
}

.title {
    position: relative;
    font-size: 2vw;
    margin-top: 7%;
    text-align: center;
    margin-bottom: 2%;
    color: #fff;
}

section {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 600px;
    border: 3px solid #00ffff;
    box-shadow: 0 0 50px 0 #00a6bc;
}


section img{
    width: 0px;
    flex-grow: 1;
    object-fit: none;
    opacity: .8;
    transition: .5s ease;
    position: relative;
    z-index: 0;
}

section img:hover{
    width: 100%;
    opacity: 1;
    filter: contrast(120%);
    z-index: 0;
}

.card{
    background: #081b29;
    border: 3px solid #00ffff;
    box-shadow: 0 0 50px 0 #00a6bc;
}


.submit{
    border: none;
    outline: none;
    width: 15%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(45deg, #0ef, #c800ff);
}

.cardperiferico{
    background: #081b29;
    border: 3px solid #00ffff;
    box-shadow: 0 0 50px 0 #00a6bc;
    margin-top: 20%;
    margin-bottom: 5%;
}

.input{
    background:#fff;
    border:none;
    width: 260px;
    margin-top: 40px;
    padding-right: 10px;
    font-size: 17px;
    color: #081b29;
}

.select-editado{
	max-width: 250px;
	position: relative;
}

.select-editado select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
	background: #081b29;
	color: #fff;
	font-size: 1em;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid #00a6bc;
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.perifericos{
    display: flex; 
    justify-content: space-between; 
    margin: 0 auto 20px;
    max-width: 1000px;
}

